/* * {
    outline: 0;
    border: 0;
    padding: 0;
    margin: 0;
} */

#container{
    background-color: grey;
    width:900px;
    height: 900px;
}

#eye1, #eye2 {
    background-color: red;
    height: 200px;
    width: 200px;
    margin-left: 150px;
    display: inline-block;
    margin-top: 300px;
}

#mouth {
    background-color: yellow;
    width: 600px;
    height: 100px;
    display: inline-block;
    margin-left: 135px;
    margin-top: 150px;
}

